<section>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="input-grouper">
      <div class="mb-3">
        <input class="form-control" type="text" formControlName="Firstname" placeholder="First Name">
        <small
          *ngIf="this.reactiveForm.get('Firstname').errors?.['required'] && this.reactiveForm.get('Firstname')?.touched">*First
          Name is Required</small>
        <small
          *ngIf="this.reactiveForm.get('Firstname').errors?.['noSpaceValidator'] && this.reactiveForm.get('Firstname')?.touched">*
          Name musn't contain spaces</small>
      </div>
      <div class="mb-3">
        <input class="form-control" type="text" formControlName="Lastname" placeholder="Last Name">
        <small
          *ngIf="this.reactiveForm.get('Lastname').errors?.['required'] && this.reactiveForm.get('Lastname')?.touched">*Last
          Name
          is Required</small>
        <small
          *ngIf="this.reactiveForm.get('Lastname').errors?.['noSpaceValidator'] && this.reactiveForm.get('Lastname')?.touched">mustn't
          contain spaces</small>
      </div>

    </div>
    <div class="Gender">
      <div class="mb-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" value="male" type="radio" formControlName="Gender">
            Male
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" value="female" type="radio" formControlName="Gender">
            Female
          </label>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" value="other" type="radio" formControlName="Gender">
            Prefer not to Say
          </label>
        </div>
      </div>
    </div>

    <div class="address" formGroupName="Address">
      <div class="input-grouper">
        <div class="mb-3">
          <input class="form-control" type="text" formControlName="Country" placeholder="Country">
          <small
            *ngIf="this.reactiveForm.get('Address.Country')?.invalid && this.reactiveForm.get('Address.Country')?.touched">*Country
            is Required</small>
        </div>

        <div class="mb-3">
          <input class="form-control" type="text" formControlName="City" placeholder="City">
          <small
            *ngIf="this.reactiveForm.get('Address.City')?.invalid && this.reactiveForm.get('Address.City')?.touched">*City
            is
            Required</small>
        </div>

      </div>
      <div class="input-grouper">
        <div class="">
          <input class="form-control" type="text" formControlName="Street" placeholder="Street">
          <small
            *ngIf="this.reactiveForm.get('Address.Street')?.invalid && this.reactiveForm.get('Address.Street')?.touched">*Street
            is
            Required</small>
        </div>

        <div class="mb-3">
          <input class="form-control" type="text" formControlName="Postal" placeholder="Postal Code">
          <small
            *ngIf="this.reactiveForm.get('Address.Postal')?.invalid && this.reactiveForm.get('Address.Postal')?.touched">*Postal
            Code
            is Required</small>
        </div>

      </div>
    </div>

    <div class="mb-3">
      <input class="form-control" type="tel" formControlName="PhoneNumber" placeholder="Phone Number">
      <small
        *ngIf="this.reactiveForm.get('PhoneNumber')?.invalid && this.reactiveForm.get('PhoneNumber')?.touched">*Phone
        Number is Required</small>
    </div>


    <div class="email" formArrayName="Email"
      *ngFor="let e of this.reactiveForm.get('Email')['controls']; let i = index">
      <div class="email-delete">
        <input class="form-control mb-3" type="email" placeholder="Email" [formControlName]="i">
        <button class="btn btn-primary deleteBtn" (click)="deleteEmail(i)">Delete</button>
      </div>
      <div class="email-error-message">
        <small *ngIf="this.reactiveForm.get('Email')?.invalid && this.reactiveForm.get('Email')?.touched">*Phone
          Number is Required</small>
      </div>
    </div>
    <button type="button" class="btn btn-primary margin" (click)="addEmail()">Add Email</button>

    <div class="mb-3">
      <input class="form-control" type="date" formControlName="Dob">
      <small *ngIf="this.reactiveForm.get('Dob')?.invalid && this.reactiveForm.get('Dob')?.touched">*Date of birth is
        Required</small>
    </div>

    <div class="mb-3">
      <select class="form-select" formControlName="Position">
        <option value="" hidden>Choose a Position</option>
        <option value="JR. .NET Developer">JR. .NET Developer</option>
        <option value="Middle .NET developer">Middle .NET developer</option>
        <option value="JR. Angular Developer">JR. Angular Developer</option>
        <option value=" Team lead of Angular"> Team lead of Angular</option>
        <option value="Team lead of.NET">Team lead of.NET</option>
      </select>
      <small *ngIf="this.reactiveForm.get('Position')?.invalid && this.reactiveForm.get('Position')?.touched">*Position
        is Required</small>
    </div>

    <div class="accoount" formGroupName="Account">
      <div class="mb-3">
        <input class="form-control" type="text" formControlName="Username" placeholder="Enter USernmae..">
        <small
          *ngIf="this.reactiveForm.get('Account.Username').errors?.['required'] && this.reactiveForm.get('Account.Username')?.touched">*Username
          is Required</small>
        <small
          *ngIf="this.reactiveForm.get('Account.Username').errors?.['noSpaceValidator'] && this.reactiveForm.get('Account.Username')?.touched">*
          *Username musn't contain spaces</small>
        <small
          *ngIf="this.reactiveForm.get('Account.Username').errors?.['usernameNotAllowed'] && this.reactiveForm.get('Account.Username')?.touched">*
          *Username is already Taken</small>
      </div>
      <div class="mb-3">
        <input class="form-control" type="password" formControlName="Password" placeholder="Create Password">
        <small *ngIf="reactiveForm.get('Account.Password')?.value?.length < 8 && this.reactiveForm.get('Account.Password').touched">*Password must contain at least 8
          characters</small>
      </div>
      <div class="mb-3">
        <input class="form-control" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
        <small *ngIf="this.reactiveForm.get('Account.confirmPassword').errors?.['mismatch'] && this.reactiveForm.get('Account.confirmPassword').touched">*Passwords do not match</small>
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" formControlName="Subscribe">
        Recieve News Letters
      </label>
    </div>
    <div>
      <input class="btn btn-primary margin" type="submit">
    </div>
  </form>
</section>